Repository Maharaj07/forkedtwilio2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kotlin_analyze, firebase_functions, unit_test_example

.gitlab-ci.yml:

image: cirrusci/flutter:stable

stages:
  - lint
  - test
  - publish

kotlin_analyze:
  image: kkopper/ktlint:0.36.0
  stage: lint
  script:
    - cd android || exit 1
    - ktlint
  only:
    refs:
      - merge_requests
    changes:
      - android/**/*.kt

flutter_analyze:
  stage: lint
  script:
    - cd example || exit 1
    - flutter pub get
    - cd .. || exit 1
    - flutter analyze --pub
  only:
    - merge_requests

firebase_functions:
  image: node:8.15.0-alpine
  stage: lint
  script:
    - cd example/firebase/functions || exit 1
    - npm i
    - npm run lint
  only:
    refs:
      - merge_requests
    changes:
      - example/firebase/functions/**/*
  # TODO: Should be removed after solving and following all analyses!
  allow_failure: true

unit_test_package:
  stage: test
  script:
    - flutter test --pub test/*
  only:
    - merge_requests
  # TODO: Should be removed after fixing the unit tests!
  allow_failure: true

unit_test_example:
  stage: test
  script:
    - cd example || exit 1
    - flutter test --pub test/*
  only:
    refs:
      - merge_requests
    changes:
      - example/**/*
  # TODO: Should be removed after fixing the unit tests!
  allow_failure: true

dry-run:
  stage: publish
  script:
    - flutter pub get
    - flutter pub publish --dry-run
  only:
    - merge_requests

#1 Updated CI/CD
  .gitlab-ci.yml
Due: none

#2 - Upgraded to latest flutter analyze rules as wanted by Google, being pedantic 1.9.0 and use latest `cloud_functions` to resolve those errors
  example/analysis_options.yaml
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: unit_test_example

#1 - Added tag en publish jobs to enable automatic releasing through CI/CD to pub.dev. Only maintainers are allowed to start the job.
  .gitlab-ci.yml
Due: none

#1 Implemented camera switching and speakermode.
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/RoomListener.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/TwilioUnofficialProgrammableVideoPlugin.kt
  example/lib/conference/conference_page.dart
  lib/src/camera_capturer.dart
  lib/src/camera_source.dart
  lib/src/camera_state.dart
  lib/src/local_audio_track.dart
  lib/src/local_video_track.dart
  lib/src/programmable_video.dart
  lib/src/video_capturer.dart
  lib/twilio_unofficial_programmable_video.dart
Due: kotlin_analyze, unit_test_example

#1 - Edited README and version to prepare for publish
  README.md
  example/README.md
  pubspec.yaml
Due: unit_test_example

#1 minimal SDK to 20 and added audio focus
  android/build.gradle
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  example/android/app/build.gradle
Due: kotlin_analyze, unit_test_example

#1 Fixed variable name
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/RoomListener.kt
Due: kotlin_analyze

#8 Made map method private, and added some documetation
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  lib/src/audio_track.dart
  lib/src/camera_capturer.dart
  lib/src/connect_options.dart
  lib/src/local_audio_track.dart
  lib/src/local_audio_track_publication.dart
  lib/src/local_participant.dart
  lib/src/local_video_track.dart
  lib/src/local_video_track_publication.dart
  lib/src/programmable_video.dart
  lib/src/remote_audio_track.dart
  lib/src/remote_audio_track_publication.dart
  lib/src/remote_participant.dart
  lib/src/remote_video_track.dart
  lib/src/remote_video_track_publication.dart
  lib/src/room.dart
  lib/src/room_state.dart
  lib/src/track_publication.dart
  lib/src/twilio_exception.dart
  lib/src/video_capturer.dart
  lib/src/video_track.dart
Due: kotlin_analyze

#8 - Improved dartdoc
  README.md
  lib/src/audio_codecs/audio_codec.dart
  lib/src/audio_track.dart
  lib/src/audio_track_publication.dart
  lib/src/camera_capturer.dart
  lib/src/connect_options.dart
  lib/src/local_audio_track.dart
  lib/src/local_audio_track_publication.dart
  lib/src/local_participant.dart
  lib/src/local_video_track.dart
  lib/src/local_video_track_publication.dart
  lib/src/network_quality_level.dart
  lib/src/participant.dart
  lib/src/remote_audio_track_publication.dart
  lib/src/remote_participant.dart
  lib/src/remote_video_track_publication.dart
  lib/src/room.dart
  lib/src/video_codecs/video_codec.dart
  lib/twilio_unofficial_programmable_video.dart
Due: none

#8 more docs
  lib/src/audio_track.dart
  lib/src/camera_capturer.dart
  lib/src/connect_options.dart
  lib/src/local_audio_track.dart
  lib/src/local_audio_track_publication.dart
  lib/src/local_participant.dart
  lib/src/local_video_track.dart
  lib/src/local_video_track_publication.dart
  lib/src/programmable_video.dart
  lib/src/remote_audio_track.dart
  lib/src/remote_audio_track_publication.dart
  lib/src/remote_participant.dart
  lib/src/remote_video_track.dart
  lib/src/remote_video_track_publication.dart
  lib/src/video_capturer.dart
  lib/src/video_track.dart
Due: none

#8 more docs
  lib/src/remote_participant.dart
  lib/src/room.dart
Due: none

#8 - Added dartdoc CI/CD job to check if the dartdoc generates errors/warnings. All warnings mapped to errors to ensure an exit code of 1
  .gitlab-ci.yml
  CONTRIBUTING.md
  dartdoc_options.yaml
Due: none

#8 - Added dartdoc CI/CD job to check if the dartdoc generates errors/warnings. All warnings mapped to errors to ensure an exit code of 1
  .gitlab-ci.yml
Due: none

#8 more docs
  README.md
Due: none

#8 more docs
  CONTRIBUTING.md
Due: none

#31 - Added switching speaker phone based on headset plug
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/BecomingNoisyReceiver.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  example/lib/conference/conference_page.dart
Due: kotlin_analyze, unit_test_example

#31 - Added switching speaker phone based on headset plug
  CHANGELOG.md
  example/pubspec.lock
  pubspec.yaml
Due: unit_test_example

#31 - Added switching speaker phone based on headset plug
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/BecomingNoisyReceiver.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
Due: kotlin_analyze

#31 - Added switching speaker phone based on headset plug
  example/lib/conference/conference_page.dart
Due: unit_test_example

#60 - add dominant speaker changed support for iOS, increment version
  ios/Classes/PluginHandler.swift
  ios/Classes/RoomListener.swift
  lib/src/connect_options.dart
  lib/src/events/room_events.dart
  lib/src/room.dart
  pubspec.yaml
Due: none

#60 - add dominant speaker changed support for Android
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RoomListener.kt
  example/pubspec.lock
  pubspec.lock
Due: kotlin_analyze, unit_test_example

#60 - cleanup, rename dominantSpeakerChanged event
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RoomListener.kt
  ios/Classes/RoomListener.swift
  lib/src/events/room_events.dart
  lib/src/room.dart
Due: kotlin_analyze

#60 - update event table
  CONTRIBUTING.md
Due: none

#60 - update changelog
  CHANGELOG.md
Due: none

#60 - update dartdoc
  lib/src/room.dart
Due: none

#60 - fix some swiftlint issues
  ios/Classes/PluginHandler.swift
Due: none

#60 - add example for usage of dominant speaker events
  example/lib/conference/conference_room.dart
  example/lib/conference/participant_widget.dart
Due: unit_test_example

#60 - remove whitespace from blank line
  ios/Classes/RoomListener.swift
Due: none

#60 - listen to dominant speaker changes in _onConnected
  example/lib/conference/conference_room.dart
Due: unit_test_example

#60 - rename connect option for enabling dominant speaker per feedback on MR
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  example/lib/conference/conference_room.dart
  ios/Classes/PluginHandler.swift
  lib/src/connect_options.dart
Due: kotlin_analyze, unit_test_example

#60 - rename participant property on DominantSpeakerChangedEvent in accordance with naming conventions
  example/lib/conference/conference_room.dart
  lib/src/events/room_events.dart
Due: unit_test_example

#60 - use room.dominantListener property rather than the generated getter
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RoomListener.kt
Due: kotlin_analyze

#60 - use room.dominantListener with an explicit cast to RemoteParticipant
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RoomListener.kt
Due: kotlin_analyze

#93 - Fixed wrong assert in RoomModel. _connectToRoom() of conference_page.dart is now async and now handles errors when connecting to a Room fails.
  programmable_video/example/lib/conference/conference_page.dart
  programmable_video_platform_interface/lib/src/models/room/room_model.dart
Due: none

#77 - Updated platform interface version.
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/pubspec.yaml
Due: none

#133 - Added video render mode option
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/ParticipantViewFactory.kt
  programmable_video/ios/Classes/ParticipantViewFactory.swift
  programmable_video/lib/src/local_video_track.dart
  programmable_video/lib/src/remote_video_track.dart
  programmable_video_platform_interface/lib/src/enums/enum_exports.dart
  programmable_video_platform_interface/lib/src/enums/video_render_mode.dart
Due: none
